<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>后台管理</title>
<link type="text/css" rel="stylesheet" href="../../static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" src="../../static/img/logo.gif" >
			<span class="wel_word">Background Management System</span>
			<div>
				<a th:href="@{/page.do(operate='page',page='manager/book_manager')}">Book        </a>
				<a th:href="@{/page.do(operate='page',page='manager/order_manager')}">Order      </a>
				<!--<a th:href="@{/order.do(operate='getOrderList')}">订单管理</a>-->
				<a th:href="@{/page.do(operate='page',page='index')}">Return</a>
			</div>
	</div>
	
	<div id="main">
		<h1>Welcome to management system</h1>
	</div>
	
	<div id="bottom">
		<span>
		</span>
	</div>
</body>
</html>