<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/iconfont.css}" />
    <link rel="stylesheet" th:href="@{/static/css/orderManger.css}" />

    <script language="JavaScript" th:src="@{/static/script/vue.js}"></script>
    <script language="JavaScript" th:src="@{/static/script/axios.min.js}"></script>
    <script language="JavaScript" th:src="@{/static/script/order_manager_admin.js}"></script>
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{/index.html}">
            <img th:src="@{/static/img/logo.png}" alt=""
          /></a>
          <h1>Order Management System</h1>
        </div>
        <div class="header-right">
          <a th:href="@{/page.do(operate='page',page='manager/book_manager')}" class="order">Book   </a>
          <a th:href="@{/page.do(operate='page',page='manager/order_manager')}" class="destory">Order   </a>
          <a th:href="@{/page.do(operate='page',page='index')}" class="gohome">Return   </a>
        </div>
      </div>
    </div>
    <div class="list" id="order_manager_admin_div">
      <div class="w">
        <div class="header-search">
          Search Order by keyword:
          <input id="input1" type="text" placeholder="Type Your Keyword"/>
          <button class="iconfont icon-search" @click="searchOrder"></button>
          <!--          <a @click="searchBook()">delete</a>-->
        </div>
        <table id="tbl_order_admin">
          <thead>
            <tr>
              <th>Number</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Quantity</th>
              <th>State</th>
              <th>delete order</th>
            </tr>
          </thead>
          <tbody v-for="(orderBean,index) in orderList">
            <tr>
              <td>{{orderBean.orderNo}}</td>
              <td>{{orderBean.orderDate}}</td>
              <td>{{orderBean.orderMoney}}</td>
              <td>{{orderBean.totalBookCount}}</td>
              <td>{{orderBean.orderStatus}}</td>
              <td><a @click="deleteOrder(orderBean.id)">delete</a></td>
            </tr>
          </tbody>
        </table>
        <div class="footer">
          <div class="footer-right">
            <div>First</div>
            <div>Page Up</div>
            <ul>
              <li class="active">1</li>
              <li>2</li>
              <li>3</li>
            </ul>
            <div>Page Down</div>
            <div>End</div>
            <span th:text="*{session.pageCount}"></span><span>pages</span>
            <span th:text="*{session.bookCount}"></span><span>orders</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
    </div>
  </body>
</html>
